* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  background-color: #1a8cff;
}
nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > ul > li{
  list-style: none;
  color: white;
  padding: .7rem;
}

#topnav > li:first-child{
  flex-basis: 25%;
  font-size: 25px;
}

#topnav > li {
  font-size: 12px;
  flex: 1;
}
#topnav{
  padding-inline-start: 0;

}
.selected, .menuitem:hover{
  font-weight: bold;
}

h1{
  font-size: 25px;
  padding-left: .55rem;
}

#create{
  border: 1px solid black;
  border-radius: 8px;

  width: 50%;
  margin: 0 auto;
}

#userfields {
  list-style: none;
  margin-left: 10px;;
  padding-inline-start: 0;;
}
#userfields > li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex; 
  align-items: center;
  margin-right: 10px;;
}

.label {
  width: 8rem;
  flex: 1;
  font-weight: bold;
}
#userfields > li > input,
#userfields > li > select
 {
  width: 300px;
  flex: 2; 
  border: 1px solid lightgray;
}
#dept {
  border-radius: 5px;
}

#userfields > li:last-child {
/*  color: blue; */
}

#btnparent{
  /*justify-content: space-between;*/
}

button{
margin: 0 auto 0 auto;
}
#clear{
  margin-right: 0;
}
#save {
  background-color: #1a8cff;
  color: white;
  margin-left: 0;
}

#bios {
   display: flex;
   flex-wrap: wrap;
   margin-top: 5px;
}
#bios >div {
  border: 1px solid black;
  text-align: center;
  border-radius: 15px;
  flex: 1 1 0px;
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: calc(100%/3 - 30px);
  max-width: calc(100%/3 - 30px);
}

@media (max-width:600px) {
  nav > ul {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  nav > ul > li {
    padding: 10px;
  }
  #create{
    width: 90%;
    margin: 0 auto;
  }
 #bios{
   flex-wrap: wrap;
   margin-top: 15px;
 }  
 #bios > div{
  max-width: 300px;
  flex-basis: 80%;
  margin: auto;
  margin-bottom: 15px;
  }  
  #userfields li{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
.label{
  padding-top: 10px;
  padding-bottom: 10px;
}
#userfields > li > input,
#userfields > li > select{
  border: none;
  padding-top: 5px;
}
  button {
    max-width: 350px;
    height: 28px;
  }
  button:first-child{
    border: none;
    background-color: white;

  }
  #userfields > li:last-child {
    flex-direction: column;
  }

  #userfields > li:last-child button{
    width: 100%;
  }
   select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}
